.App {
  display: flex;
  flex-direction: column;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
}

.todo-item {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 5px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
